body{
	font-family: Tahoma;
}
@media (min-width: 187px)  { 
	.flex-container {
		display: flex;
		align-items: stretch;
		background-color: white;
		padding-top: 30px;
	}
	  
	.flex-container > div {
		width: 100px;
		
		text-align: center;
		line-height: 75px;
		font-size: 20px;
		font-weight: bolder;
		color: MidnightBlue;
	  }
	  
	  

}
@media (min-width: 600px) {
	html, body {
	  font-size: calc( 12px + (14 - 12) * ((100vw - 600px) / (1140 - 600)));
	}
  }

  
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 3px solid MidnightBlue ;
}

.container-responsive {
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;
	margin-top: 40px;
	margin-bottom: 80px;
}
.search-container{
	border: 1px solid #ddd;
	background-color: #ddd;
	padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
	border-top: 3px solid midnightblue;

}
.search-container input{
    width: 80%;
    padding: 15px;
    margin-right: 5px;
    border: 1px solid black;
	
}
.search-container button{
    margin-top: 5px;
    padding: 15px;
	border: 1px solid MidnightBlue;
	color: whitesmoke;
	background-color: MidnightBlue;
	font-weight: bolder;

}
.search-container span{
	width: 60%;
	font-weight: bolder;
	line-height: 75px;
	font-size: 22px;
	color: MidnightBlue;
}

.table-responsive{
	padding-left: 20px;
	padding-right: 20px;
}

.table1{
	color: white;
	background-color: midnightblue;
	border: 1px solid midnightblue;
}

.btn-primary {
    margin-top: 10px;
    padding: 9px;
	border: 1px solid MidnightBlue;
	color: whitesmoke;
	background-color: MidnightBlue;
	font-weight: bolder;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
	padding: 2rem;
	background-color: #ddd;
}

.form-row {
   
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 25px;
}

.modal-footer-center{
	margin-bottom: 20px;
	margin-top: 10px;
	

}
.btnr{
	color: white;
    border: 0.5px solid MidnightBlue;
    background-color: MidnightBlue;
    width: 18%;
    height: 51px;
    margin-top: 10px;
    font-weight: bold;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #eee;
    text-shadow: 0 1px 0 #eee;
	opacity: 1;

}
.modal-header .close {
    padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
	background-color: #731717;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: bold;
    color: midnightblue;
}

.custom-control1{
    margin-top:80px;
    margin-left:25px;
}

.custom-control2{

    margin-right:55px;
}

@media (min-width: 810px) and (max-width: 991.98px){
    .custom-control2 {
        width: 400px;
        margin-left: 50px;

        }
}