<!DOCTYPE html>
<html lang="en">
<head>
    <title>DASHBOARD</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ========== COMMON STYLES ========== -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/animate-css/animate.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/lobipanel/lobipanel.min.css" media="screen" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- ========== PAGE STYLES ========== -->
    <link rel="stylesheet" href="/static/css/prism/prism.css" media="screen" > <!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
    <link rel="stylesheet" href="/static/css/toastr/toastr.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/blue.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/red.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/green.css" >
    <link rel="stylesheet" href="/static/css/bootstrap-tour/bootstrap-tour.css" >

    <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" href="/static/css/login.css" media="screen" >

    <!-- ========== MODERNIZR ========== -->
    <script src="/static/js/modernizr/modernizr.min.js"></script>
</head>
<body>
    <div class="flex-container">
        <div style="flex-grow: 5">
          <img width="300px" height="70px" src="../static/images/logo3.png"  alt="logo">
        </div>
        <div  style="flex-grow: 7">DASHBOARD</div>
      </div>

    <hr  width="100%" size="20px" align="center" color="black" height="10px">


    
<div >
    
    <div class="row">
      <div class="col bg-success">
        <h3 style="text-align: center;">TOTAL</h3>
                  <h2 style="background-color: red;">  1000   <span style="font-size: medium;padding-left: 4px; ">4500</span></h2>
      </div>
    </div>
    <br>
    
    <br>
    <div class="row">
      <div class="col bg-success">
        <span>10KM</span>
        <span style="background-color: blue;">  800<span style="font-size: medium;padding-left:6px">1000</span></span>
      </div>
      <div class="col bg-warning">
        <span>10KM</span>
        <span style="background-color: blue;">  800<span style="font-size: medium;padding-left:6px">1000</span></span>
      </div>
      <div class="col bg-success">
        <span>10KM</span>
        <span style="background-color: blue;">  800<span style="font-size: medium;padding-left:6px">1000</span></span>
      </div>
      <div class="col bg-warning">
        <span>10KM</span>
        <span style="background-color: blue;">  800<span style="font-size: medium;padding-left:6px">1000</span></span>
      </div>
      <div class="col bg-success">
        <span>10KM</span>
        <span style="background-color: blue;">  800<span style="font-size: medium;padding-left:6px">1000</span></span>
      </div>
    </div>

  </div>
  

    



</body>
</html>
