<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS {{ value.id + 1 }} - Check In</title>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ========== COMMON STYLES ========== -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/animate-css/animate.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/lobipanel/lobipanel.min.css" media="screen" >


    <!-- ========== PAGE STYLES ========== -->
    <!-- <link rel="stylesheet" href="/static/css/prism/prism.css" media="screen" >  -->
<!--    <link rel="stylesheet" href="/static/css/toastr/toastr.min.css" media="screen" >-->
<!--    <link rel="stylesheet" href="/static/css/icheck/skins/line/blue.css" >-->
<!--    <link rel="stylesheet" href="/static/css/icheck/skins/line/red.css" >-->
<!--    <link rel="stylesheet" href="/static/css/icheck/skins/line/green.css" >-->
<!--    <link rel="stylesheet" href="/static/css/bootstrap-tour/bootstrap-tour.css" >-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" href="/static/css/result.css" media="screen" >

    <!-- ========== MODERNIZR ========== -->
    <script src="/static/js/modernizr/modernizr.min.js"></script>



</head>
<body>
<div class="flex-container">
    <div style="flex-grow: 6">
        <img width="300px" height="70px"  src="../static/images/logo3.png"  alt="logo">
    </div>
    <div  style="flex-grow: 6">POS {{ value.id + 1 }} - {{ value.category }}</div>
</div>

<hr  width="100%" size="20px" align="center" color="black" height="10px">

<form  action="/modify" method="post" enctype="multipart/form-data">


    <div class="table-responsive">
        <div class="text-right"  >
            <button class="btn-warning" type="button" onclick="return confirm_redict();">DELETE POS</button>
            <p></p>
        </div>
        <input type="hidden" id="id_pos" name="id_pos" value="{{ value.id }}">
        <table class="table">
            <thead class="table1">
            <tr>
                <th scope="col">CHECK</th>
                <th scope="col">ORDER ID</th>
                <th scope="col">BIB</th>
                <th scope="col">FULL NAME</th>
                <th scope="col">ID/Passport</th>
                <th scope="col">D.O.B</th>
                <th scope="col">SIZE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">PHONE NUMBER</th>
                <th scope="col">EMAIL</th>

            </tr>
            </thead>
            <tbody>
            {% if value.error == "1" %}
                {%for i in value.data %}
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="{{ i.bib }}" name="bib" value="{{ i.bib }}" onchange="is_check_element()">
                                    <label class="custom-control-label" for="{{ i.bib }}" ></label>
                                </div>
                            </td>
                            <td>{{i.code}}</td>
                            <td>{{i.bib}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.passport}}</td>
                            <td>{{i.DOB}}</td>
                            <td>{{i.size}}</td>
                            <td>{{i.distance}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.email}}</td>

                        </tr>

                {% endfor %}
            {% elif value.error == "2" %}
                {%for i in value.data %}

                    <tr>
                    <td>
                        <input id="ad" type="checkbox" onclick="toggle(this,'ad')" name="bib" value={{i.bib}} onchange="is_check_element()" />
                    </td>
                    <td>{{i.code}}</td>
                    <td>{{i.bib}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.passport}}</td>
                    <td>{{i.DOB}}</td>
                    <td>{{i.distance}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                </tr>

                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="input-field">

            <button class="btn-primary" type="button" data-toggle="modal" data-target="#myModal" id="pick" disabled>PICK</button>


            <!-- The Modal -->
              <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">


                    <div class="modal-header">

                      <span class="modal-title">READY TO PICK-UP</span>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">

                            <div class="form-row">
                              <div class="col-xs-12 col-md-12">
                                <label for="validationServer01" style="color: midnightblue;">PLEASE FILL THE AUTHORIZED INFORMATION</label>
                                <input id="name" name="name" type="text" class="form-controL"  placeholder="NAME" style="width: 90%; height:70%; border: 0.25px solid gray; padding-left: 20px;  " >
                                  <input id="phone" name="phone" class="form-controL"  placeholder="PHONE NUMBER" style="width: 90%; height:70%; border: 0.25px solid gray; padding-left: 20px;  " maxlength="10">

                              </div>
                            </div>

                            <div class="custom-control1 custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck2">
                              <label class="custom-control-label" for="customCheck2" onclick="return toggle_paticipant()">PARTICIPANT PICK-UP</label>
                            </div>


                    </div>


                    <div class="modal-footer-center">
                      <div class="custom-control2 custom-checkbox">

                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label"  for="customCheck3">I CONFIRMED THAT I RECIVED MY RACE KITS AND ALL ITEM(S)</label>
                      </div>
                      <button class="btnr" type="submit" data-toggle="modal" onclick="return is_check()">CONFIRM</button>
                    </div>

                  </div>
                </div>
              </div>

        </div>
    </div>


 </form>

</body>
<script>

      $(document).on('click', 'input[type="checkbox"]', function() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            if (this.id != "ad" && this.id != "customCheck2" && this.id != "customCheck3"){
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] != this){
                        if (checkboxes[i].id != "ad" && checkboxes[i].id != "customCheck2" && checkboxes[i].id != "customCheck3"){
                            if (checkboxes[i].id != this.id){

                                checkboxes[i].checked = false;

                            }
                        }
                    }

                }
            }
        });


    function confirm_redict() {
        if (confirm('Are you sure to remove machine')){
            window.location.href = "/session_destroy"
        }
        else
        {
            return false
        }

    }
    function toggle(source,idkey) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                if (checkboxes[i].id == idkey)

                    checkboxes[i].checked = source.checked;
        }
    }

    function toggle_paticipant(){
        name = document.getElementById("name").value;
        phone = document.getElementById("phone").value;
        if (name !== "" && phone !== "" ){
            alert("You can only check in here without entering name and phone number in two above boxes")
            return false
        }
        return true

    }

    function is_check_element(){
        var a = false
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked === true) {
                a = true;
            }
        }
        if (a === true) {
           document.getElementById("pick").disabled = false;
        }
        else{
            document.getElementById("pick").disabled = true
        }


    }

    function is_check() {
        var checkconfirm = document.getElementById("customCheck3");
        var checkparticipant = document.getElementById("customCheck2");
        name = document.getElementById("name").value;
        phone = document.getElementById("phone").value;
        console.log(name);
        console.log(phone);


        if (name === "" && phone === "" && checkparticipant.checked === false){
            alert("You must check PARTICIPANT PICK-UP or enter NAME and PHONE NUMBER");
            return false;

        }

        if (name !== "" && phone === ""){
            alert("Please enter PHONE NUMBER");
            return false;
        }

        if (name === "" && phone !== ""){
            alert("Please enter NAME");
            return false;
        }

        if (checkconfirm.checked === false){
            alert("You must CONFIRMED THAT YOU RECIVED MY RACE KITS AND ALL ITEM(S)")
            return false

        }

        if (confirm("Are you sure to pick up this race kit") === true) {
            return true;
        }



        return false;
    }

    $(function() {
        $("input[name='phone']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });

    function onlynum() {
        var ip = document.getElementById("phone");
        if (res != '') {
            if (isNaN(res)) {

                // Set input value empty
                ip.value = "";

                return false;
            } else {
                return true
            }
        }
    }

</script>
</html>
