<html>
  <head>
      <title>POS {{ value.id + 1 }} - Check In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  

    <!-- ========== COMMON STYLES ========== -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/animate-css/animate.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/lobipanel/lobipanel.min.css" media="screen" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- ========== PAGE STYLES ========== -->
    <link rel="stylesheet" href="/static/css/prism/prism.css" media="screen" > <!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
    <link rel="stylesheet" href="/static/css/toastr/toastr.min.css" media="screen" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/blue.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/red.css" >
    <link rel="stylesheet" href="/static/css/icheck/skins/line/green.css" >
    <link rel="stylesheet" href="/static/css/bootstrap-tour/bootstrap-tour.css" >

        <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" href="/static/css/search.css" media="screen" >
    <script src="/static/js/modernizr/modernizr.min.js"></script>
</head>
<body>
  
<h4 class="text-center mt-4"><img  src="../static/images/logo3.png" class="text-center mt-4" alt="logo" style="width:60%" ></h4>


<div class="container">
  <div class="search-container">
      <span><div  style="flex-grow: 7">POS {{ value.id + 1 }} - {{ value.category }}</div>
              WELCOME TO DALAT ULTRA TRAIL
      </span>
      <form  method="post" enctype="multipart/form-data" action="/new_clerk">
          <input id="id_search" name="id_search" type="text" placeholder="Your BIB Number here">
          <button type="submit" onclick="return check_text();">SEARCH</button>
      </form>
  </div>
</div>

<footer class="page-footer font-small blue">
    <a style="text-align: center;display: flex;justify-content: center; font-weight: bolder;"> A TECHNOLOGY PRODUCT OF TECHHAUS VIETNAM SJC</a>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 -
      <a > Techhaus Vietnam JSC. All Right Reserved</a>
    </div>
    <!-- Copyright -->
  
  </footer>


      

  
</body>

<script>

    if ({{ value.error }} == "3"){
        window.alert("Cannot find you information")
    }
    if ({{ value.error }} =="4"){
        window.alert("Your race kit is picking  in POS {{ value.POS }}")
    }
    if ({{ value.error }} == "5"){
        window.alert("Your race kit is picked in POS {{ value.pos_check }} at {{ value.time }} by {{ value.name_pick}} and their phone is {{value.phone_pick}}")
    }
    if ({{ value.error }} == "1"){
        window.alert("You can pickup your race kit in POS {{ value.POS }}")
    }
    if ({{ value.error }} == "6"){
        window.alert("POS not matching your distance. This POS only cover {{ value.category }} distance")
    }

    function check_text() {
        if( document.getElementById('id_search').value === '' ){
            alert("Search key is empty ! Please enter your search key");
            return false
        }
        return true
    }


</script>

</html>